rust_learning/basics/target/debug/.cargo-lock
rust_learning/basics/target/debug/basics
rust_learning/basics/target/debug/basics.d
rust_learning/basics/target/debug/.fingerprint/basics-12a648134091fa51/bin-basics
rust_learning/basics/target/debug/.fingerprint/basics-12a648134091fa51/bin-basics.json
rust_learning/basics/target/debug/.fingerprint/basics-12a648134091fa51/dep-bin-basics
rust_learning/basics/target/debug/.fingerprint/basics-12a648134091fa51/invoked.timestamp
rust_learning/basics/target/debug/.fingerprint/basics-12a648134091fa51/output-bin-basics
rust_learning/basics/target/debug/.fingerprint/basics-638862674e2481c8/bin-basics
rust_learning/basics/target/debug/.fingerprint/basics-638862674e2481c8/bin-basics.json
rust_learning/basics/target/debug/.fingerprint/basics-638862674e2481c8/dep-bin-basics
rust_learning/basics/target/debug/.fingerprint/basics-638862674e2481c8/invoked.timestamp
rust_learning/basics/target/debug/.fingerprint/basics-638862674e2481c8/output-bin-basics
rust_learning/basics/target/debug/.fingerprint/basics-9ae8e67ebf34aa72/dep-test-bin-basics
rust_learning/basics/target/debug/.fingerprint/basics-9ae8e67ebf34aa72/invoked.timestamp
rust_learning/basics/target/debug/.fingerprint/basics-9ae8e67ebf34aa72/output-test-bin-basics
rust_learning/basics/target/debug/.fingerprint/basics-9ae8e67ebf34aa72/test-bin-basics
rust_learning/basics/target/debug/.fingerprint/basics-9ae8e67ebf34aa72/test-bin-basics.json
rust_learning/basics/target/debug/deps/basics-9ae8e67ebf34aa72.d
rust_learning/basics/target/debug/deps/basics-12a648134091fa51.d
rust_learning/basics/target/debug/deps/basics-638862674e2481c8
rust_learning/basics/target/debug/deps/basics-638862674e2481c8.d
rust_learning/basics/target/debug/deps/libbasics-9ae8e67ebf34aa72.rmeta
rust_learning/basics/target/debug/deps/libbasics-12a648134091fa51.rmeta
rust_learning/basics/target/debug/incremental/basics-2oie2i8hqt11w/s-gegy8s9fnn-t8sl0w.lock
rust_learning/basics/target/debug/incremental/basics-2oie2i8hqt11w/s-gegy8s9fnn-t8sl0w-3o85u0hiinzcc/dep-graph.bin
rust_learning/basics/target/debug/incremental/basics-2oie2i8hqt11w/s-gegy8s9fnn-t8sl0w-3o85u0hiinzcc/query-cache.bin
rust_learning/basics/target/debug/incremental/basics-2oie2i8hqt11w/s-gegy8s9fnn-t8sl0w-3o85u0hiinzcc/work-products.bin
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w.lock
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/1awe6nkfn4ua06i5.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/1cr9pjml8d38ao2c.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/1e9nq8infdiiq3i6.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/1hojcl14bpdbyt2b.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/1spzjuxnuyfmp6xv.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/1ttp1qesqfh2hy12.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/1ygiimh0bs1uya1m.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/1zkqyc2cs46w6v13.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/2lxyz24cj2i75cux.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/2putqtuhv983pipu.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/3dscs9h83f31jfg8.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/3fxbeutkemxh27hw.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/3mlpjvwzp775uzfe.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/3o2hv5ripv9fvp6f.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/3pu7tquzazg96fdg.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/3roq24mn8wp406k6.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/3x7jinf8awmr173y.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/3x357k3rou9qfce6.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/4mxhocueuuon4xz3.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/4nnek7idm3s1l6xq.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/4oyxgproy8arlcci.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/4vaj8kyzu0cnslhv.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/5eijz9sx0oay93nr.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/5fgmptokcy9lpdv1.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/11qigl7cvrdvuobf.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/12lx1c7ekcmk7h4a.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/13hh4tcnu8b3xd6j.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/24uejsmgrin3lpza.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/26tjwjxbmfq837wr.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/29qdrjh9pqrybjiu.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/32sb312bpqf51nov.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/33crfax546b48quz.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/36hwfbei3gesdxtj.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/45h15akqdzo3a1gb.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/47z2e6jh8vhlw3nz.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/52ui9w3xqeufl1x0.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/53q7pntxyn7w216u.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/59au3cjqr04rxgxh.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/276k5i8wee5kwv5r.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/328efm07pm2ac0e6.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/364i4ccc36npi3n.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/366qq454x069h3rm.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/468j2b1bxtp2pvhq.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/2844eaa0ho7bhlwr.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/cnie6yfmg5ja17b.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/dep-graph.bin
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/dm3jj4zy4civkwr.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/lkvx0mbsg3zh6ns.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/lra8x6380jwogsd.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/mc4nu5qea5touwo.o
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/query-cache.bin
rust_learning/basics/target/debug/incremental/basics-q2a536hls1ht/s-gegy2brz9m-vyt08w-3ldyh3370w3e2/work-products.bin
rust_learning/basics/target/debug/incremental/basics-zwica1ca9ori/s-gegy8s9ho9-1utjiqh.lock
rust_learning/basics/target/debug/incremental/basics-zwica1ca9ori/s-gegy8s9ho9-1utjiqh-2da5lj2ljm6o4/dep-graph.bin
rust_learning/basics/target/debug/incremental/basics-zwica1ca9ori/s-gegy8s9ho9-1utjiqh-2da5lj2ljm6o4/query-cache.bin
rust_learning/basics/target/debug/incremental/basics-zwica1ca9ori/s-gegy8s9ho9-1utjiqh-2da5lj2ljm6o4/work-products.bin
rust_learning/basics/target/.rustc_info.json
rust_learning/basics/target/CACHEDIR.TAG
rust_learning/basics/Cargo.lock
project-webapp-.NET6/hello-world/bin/Debug/net6.0/appsettings.Development.json
project-webapp-.NET6/hello-world/bin/Debug/net6.0/appsettings.json
project-webapp-.NET6/hello-world/bin/Debug/net6.0/hello-world
project-webapp-.NET6/hello-world/bin/Debug/net6.0/hello-world.deps.json
project-webapp-.NET6/hello-world/bin/Debug/net6.0/hello-world.dll
project-webapp-.NET6/hello-world/bin/Debug/net6.0/hello-world.pdb
project-webapp-.NET6/hello-world/bin/Debug/net6.0/hello-world.runtimeconfig.json
project-webapp-.NET6/hello-world/obj/hello-world.csproj.nuget.dgspec.json
project-webapp-.NET6/hello-world/obj/hello-world.csproj.nuget.g.props
project-webapp-.NET6/hello-world/obj/hello-world.csproj.nuget.g.targets
project-webapp-.NET6/hello-world/obj/project.assets.json
project-webapp-.NET6/hello-world/obj/project.nuget.cache
project-webapp-.NET6/hello-world/obj/staticwebassets.pack.sentinel
project-webapp-.NET6/hello-world/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
project-webapp-.NET6/hello-world/obj/Debug/net6.0/apphost
project-webapp-.NET6/hello-world/obj/Debug/net6.0/hello-world.AssemblyInfo.cs
project-webapp-.NET6/hello-world/obj/Debug/net6.0/hello-world.AssemblyInfoInputs.cache
project-webapp-.NET6/hello-world/obj/Debug/net6.0/hello-world.assets.cache
project-webapp-.NET6/hello-world/obj/Debug/net6.0/hello-world.csproj.AssemblyReference.cache
project-webapp-.NET6/hello-world/obj/Debug/net6.0/hello-world.csproj.CoreCompileInputs.cache
project-webapp-.NET6/hello-world/obj/Debug/net6.0/hello-world.csproj.FileListAbsolute.txt
project-webapp-.NET6/hello-world/obj/Debug/net6.0/hello-world.dll
project-webapp-.NET6/hello-world/obj/Debug/net6.0/hello-world.GeneratedMSBuildEditorConfig.editorconfig
project-webapp-.NET6/hello-world/obj/Debug/net6.0/hello-world.genruntimeconfig.cache
project-webapp-.NET6/hello-world/obj/Debug/net6.0/hello-world.GlobalUsings.g.cs
project-webapp-.NET6/hello-world/obj/Debug/net6.0/hello-world.MvcApplicationPartsAssemblyInfo.cache
project-webapp-.NET6/hello-world/obj/Debug/net6.0/hello-world.pdb
project-webapp-.NET6/hello-world/obj/Debug/net6.0/project.razor.json
project-webapp-.NET6/hello-world/obj/Debug/net6.0/staticwebassets.build.json
project-webapp-.NET6/hello-world/obj/Debug/net6.0/ref/hello-world.dll
project-webapp-.NET6/hello-world/obj/Debug/net6.0/refint/hello-world.dll
project-webapp-.NET6/hello-world/Properties/launchSettings.json
project-webapp-.NET6/hello-world/appsettings.Development.json
project-webapp-.NET6/hello-world/appsettings.json
